<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="header"> <h1>Sign in</h1> </div>
			<div class="slider">
                <img class="user" src="../images/user.png" alt="User">
                <h2>Welcome!</h2>
				<p>Please sign in to access content</p>
			</div>
			<div class="main">
                <form action="login.php" method="post">
                    <div class="form-group">
                        <input type="text" name="username" id="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Sign in">
                    </div>
            </div>
			<div class="footer">
                <p> All rights reserved Gregory Galli</p>
            </div>
		</div>
	</body>
</html>
